<form [formGroup]="formGroup">

  <label>Controls</label>
  <label>Growth</label>
  <input formControlName="growth" placeholder="growth">

  <label>Repeat Count</label>
  <input formControlName="items" placeholder="item count">

  <label>Gradiant Details</label>

  <label>Gradiant</label>
  <button (click)="openGraphicsPicker()">Pick Gradiant</button>

  <label>Colors</label>
  <button (click)="openGraphicsPicker()">Pick Gradiant</button>

  <label>Direction</label>
  <input formControlName="growth" placeholder="growth">
</form>
